<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link href='https://fonts.googleapis.com/css?family=Montserrat: 400,500,600,700' rel='stylesheet'>
<link rel="stylesheet" href="{% static 'style.css' %}">
<title>Gallery</title>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="b">
        <p class="g">GALLERY</p>
    </div>

    <div class="container3">
        <div>
            <img style ="height: 154px; width: 230px;" src="{% static 'newyork.jpg' %}">
            <p class="h">New York</p>
        </div>
        <div>
            <img style ="height: 154px; width: 230px;" src="{% static 'paris.jpg' %}">
            <p class="h">Paris</p>
        </div>
        <div>
            <img style ="height: 154px; width: 230px;" src="{% static 'rome.jpg' %}">
            <p class="h">Rome</p>
        </div>
        <div>
            <img style ="height: 154px; width: 230px;" src="{% static 'london.jpg' %}">
            <p class="h">London</p>
        </div>
        <div>
          <img style ="height: 154px; width: 230px;" src="{% static 'dubai.jpg' %}">
          <p class="h">Dubai</p>
        </div>
        <div>
            <img style ="height: 154px; width: 230px;" src="{% static 'tokyo.jpg' %}">
            <p class="h">Tokyo</p>
        </div>
        <div>
            <img style ="height: 154px; width: 230px;" src="{% static 'seoul.jpg' %}">
            <p class="h">Seoul</p>
        </div>
        <div>
            <img style ="height: 154px; width: 230px;" src="{% static 'barcelona.jpg' %}">
            <p class="h">Barcelona</p>
        </div>
        <div>
        <img style ="height: 154px; width: 230px;" src="{% static 'bali.jpg' %}">
        <p class="h">Bali</p>
        </div>
        <div>
            <img style ="height: 154px; width: 230px;" src="{% static 'hongkong.jpg' %}">
            <p class="h">Hong Kong</p>
        </div>
        <div>
            <img style ="height: 154px; width: 230px;" src="{% static 'singapore.jpg' %}">
            <p class="h">Singapore</p>
        </div>
        <div>
            <img style ="height: 154px; width: 230px;" src="{% static 'bangkok.jpg' %}">
            <p class="h">Bangkok</p>
        </div>
    </div>
</body>
</html>