<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link href='https://fonts.googleapis.com/css?family=Montserrat: 400,500,600,700' rel='stylesheet'>
<link rel="stylesheet" href="{% static 'style.css' %}">
<title>Home</title>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="c">
        <p style="color: white;">Welcome to my page!</p>
    </div>
</body>
</html>